<h1>Edit Entry</h1>

<form action="/stock/<%= @albums.id %>" method="post">
<div class="edit_entry_details">

 <label>
 Artist:
   <input type="text" name="artist_id" value="<%= @albums.artist_id() %>">
 </label>

 <label>
 Title:
   <input type="text" name="title" value="<%= @albums.title() %>">
 </label>

 <label>
 Genre:
   <input type="text" name="genre" value="<%= @albums.genre() %>">
 </label>

 <label>
 Quantity:
   <input type="number" name="quantity" value="<%= @albums.quantity() %>">
 </label>
</div>
 <input type='submit' value="Update">
</form>