<h1>Edit Entry</h1>

<form action="/stock/<%= @album.id %>" method="post">
<div class="edit_entry_details">

 <label>
 Artist:
   <input type="text" name="artist_id" value="<%= @album.artist.name() %>">
 </label>

 <label>
 Title:
   <input type="text" name="title" value="<%= @album.title() %>">
 </label>

 <label>
 Genre:
   <input type="text" name="genre" value="<%= @album.genre() %>">
 </label>

 <label>
 Quantity:
   <input type="number" name="quantity" value="<%= @album.quantity() %>">
 </label>

 <label>
 Price:
   <input type="number" name="price" value="<%= @album.price() %>">
 </label>

</div>
 <input type='submit' value="Update">
</form>