<h1>BIG AL'S STOCK</h1>

<p class="inventory">
  <hr />
  <% for album in @albums %>
    <p>Artist: <%= album.artist.name %>
    <p>Title: <%= album.title %></p>
    <p>Genre: <%= album.genre %></p>
    <p>Quantity: <%= album.quantity %></p>
    <p>Price: £<%= album.price %></p>
    <p class="button_box">
    <a class="button update" href="/stock/<%=album.id %>">Update</a>
    </p>

    <hr />
    <% end %>